__pycache__/
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.eslintcache
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mr.developer.cfg
.mypy_cache/
.nox/
.pnp.*
.project
.pydevproject
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.stylelintcache
.tox/
.yarn/*
*.bundle.*
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*.tsbuildinfo
*$py.class
/site
build/
celerybeat-schedule
coverage.xml
coverage/
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
htmlcov/
jupyterlab_toscmode/_version.py
jupyterlab_toscmode/labextension
lib/
lib64/
MANIFEST
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
sdist/
share/python-wheels/
target/
ui-tests/playwright-report/
ui-tests/test-results/
var/
wheels/
